<section class="container">
    <h1>Contacto</h1>

    <div id="texto" #textos>
        <p appResaltado>
            Esta pagina de contacto, puedes enviarnos cualquier duda
        </p>
    </div>

    <!--
    <span>Ingrese el tamañño del Slider: </span>
    <input type="number" [(ngModel)]="widthSlider">
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>

    <div *ngIf='widthToSlider'>
        <slider [anchura]="widthToSlider" (getAutor)="getAutorInContact($event)">

        </slider>
    </div>

    <span *ngIf="autor">{{ autor.nombre}}</span>
    -->
</section>