<div class="container" *ngIf='project'>
    <div class="image" *ngIf='project.image'>
        <img src="{{ url+'getImage/'+project.image }}" *ngIf='project.image'>
    </div>

    <div class="data">
        <h1>{{ project.name }}</h1>
        <h3>{{ project.description }}</h3>
        <p>{{ project.category }}</p>
        <p>{{ project.langs }}</p>
        <p *ngIf="confirm == false">
            <a [routerLink]="['/editarProyecto', project._id]" class="buttonEdit">Editar</a>
            <a (click)="setConfirm(true)" class="buttonDelete">Eliminar</a>
        </p>

        <p *ngIf="confirm == true">
            <span>¿Estás seguro de eliminar el proyecto?</span>
            <a (click)="setConfirm(false)" class="buttonEdit">Cancelar</a>
            <a (click)="deleteProject(project._id)" class="buttonDelete">Si</a>
        </p>
    </div>
</div>