<div class="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ email }}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, lacus ut blandit pulvinar, eros enim vehicula ex, et varius mauris libero sit amet erat. Etiam neque nisi, aliquet id feugiat a, lobortis a velit. Vestibulum suscipit tellus
        turpis, in elementum ipsum viverra eget. Etiam egestas iaculis enim, sit amet feugiat turpis porttitor ac. Maecenas et venenatis justo, vel ultricies ipsum. Vestibulum a fringilla purus. Proin nec tortor velit. Mauris sed diam condimentum, maximus
        leo in, suscipit ex. Duis fermentum sit amet elit nec fermentum.
    </p>
</article>