<header>
    <ul>
        <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a></li>
        <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
        <li class="logo">
            <a href="#">JP</a>
        </li>
        <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyectos</a></li>
        <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    <h2>Master en JavaScript &copy;</h2>
</footer>